@font-face {
    font-family: 'Mukta';
    src:  url(./src/assets/fonts/mukta-v13-latin-800.svg) format('svg');
}

@font-face {
    font-family: 'Monserrat';
    src:  url(./src/assets/fonts/montserrat-variablefont_wght.woff2) format('Truetype');
}

